# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.{html,ftl,hbs,tsx,ts,js,jsx,json,scss,css,yml,md,mjs,cjs,mts,cts,vue}]
indent_style = space
indent_size = 4
