.DS_Store
node_modules
packages/docs/.vuepress/dist/
packages/storybook/.dist/
packages/storybook/*
packages/oruga/coverage/*
packages/oruga/README.md
packages/demo-vue3/*
packages/oruga-next/README.md
packages/docs-next/.vitepress/.cache/
packages/docs-next/.vitepress/.temp/
packages/docs-next/.vitepress/dist/
packages/docs-next/.vitepress/dist/
.changelogs
*.json.lerna_backup
.idea
packages/demo-vue3/*
packages/oruga-next/README.md
.nyc_output