.DS_Store
node_modules
.changelogs
*.json.lerna_backup
.idea
.nyc_output
.vscode
packages/docs/.vitepress/cache/
packages/docs/.vitepress/.cache/
packages/docs/.vitepress/.temp/
packages/docs/.vitepress/dist/
packages/oruga/README.md
packages/docs-next/.vitepress/cache/
packages/docs-next/.vitepress/.cache/
packages/docs-next/.vitepress/.temp/
packages/docs-next/.vitepress/dist/
packages/oruga-next/dist
