.DS_Store
node_modules
packages/docs/.vuepress/dist/
packages/storybook/.dist/
packages/storybook/*
packages/oruga/coverage/*
packages/oruga/README.md

.changelogs

*.json.lerna_backup
.idea
packages/demo-vue3/*
packages/oruga-next/README.md
.nyc_output
