
*, :after, :before {
    box-sizing: inherit;
}
 
html {
    box-sizing: border-box;
}

// Colors

$white: #ffffff !default;
$black: #000000 !default;
$grey: #7a7a7a !default;
$grey-light: #7a7a7a !default;
$primary: #94C11F !default;
$primary-invert: $white !default;
$danger: #ff3860 !default;

$colors: (
    "primary": ($primary, $white),
    "danger" : ($danger, $white)
);

// Sizes

$base-font-size: 1rem !default;

$sizes: (
    "small": .75rem,
    "medium": 1.25rem,
    "large": 1.5rem
);

$speed: 300ms !default;
$speed-slow: 150ms !default;
$speed-slower: 250ms !default;
$easing: ease-out !default;

$control-border-width: 1px !default;
$control-padding-horizontal: calc(0.625em - #{$control-border-width}) !default;

// Dropdown

$dropdown-disabled-opacity: 0.5 !default;
$dropdown-mobile-breakpoint: 1024px !default;
$dropdown-mobile-overlay-color: rgba(#000000, 0.86) !default;
$dropdown-mobile-overlay-zindex: 40!default;
$dropdown-mobile-max-width: 460px !default;
$dropdown-mobile-width: calc(100vw - 40px) !default;
$dropdown-mobile-max-height: calc(100vh - 120px) !default;
$dropdown-mobile-zindex: 50 !default;
$dropdown-menu-width: 12rem !default;
$dropdown-menu-padding: .5rem 0 .5rem 0 !default;
$dropdown-menu-margin: 0 !default;
$dropdown-menu-zindex: 20 !default;
$dropdown-menu-background: #ffffff !default;
$dropdown-menu-border-radius: 4px !default;
$dropdown-menu-box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02) !default;
$dropdown-item-color: #000000 !default;
$dropdown-item-padding: .375rem 1rem !default;
$dropdown-item-font-size: $base-font-size !default;
$dropdown-item-line-height: 1.5 !default;
$dropdown-item-color-active: #ffffff !default;
$dropdown-item-background-active: #000000 !default;
$dropdown-item-disabled-opacity: 0.5 !default;
$dropdown-item-hover-background-color: #f5f5f5 !default;
$dropdown-item-hover-color: #000000 !default;

// Autocomplete

$autocomplete-menu-max-height: 200px !default;
$autocomplete-item-hover-background-color: grey !default;
$autocomplete-item-hover-color: #000000 !default;
$autocomplete-menu-zindex : 20 !default;
$autocomplete-menu-background: #ffffff !default;
$autocomplete-menu-border-radius: 4px !default;
$autocomplete-menu-box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02) !default;
$autocomplete-menu-padding: .5rem 0 .5rem 0 !default;
$autocomplete-menu-margin: 0 !default;
$autocomplete-item-color: #000000 !default;
$autocomplete-item-font-size: $base-font-size !default;
$autocomplete-item-line-height: 1.5 !default;
$autocomplete-item-padding: .375rem 1rem !default;
$autocomplete-item-disabled-opacity: 0.5 !default;

// Tooltip

$tooltip-arrow-size: 5px !default;
$tooltip-arrow-margin: 2px !default;
$tooltip-content-zindex: 37 !default;
$tooltip-content-max-width: 300px !default;
$tooltip-content-radius-large: 6px !default;
$tooltip-content-weight-normal: 400 !default;
$tooltip-content-padding: 0.35rem 0.75rem !default;
$tooltip-content-font-size: 0.85rem !default;
$tooltip-content-zindex: 38 !default;
$tooltip-content-box-shadow: 0px 1px 2px 1px rgba(0, 1, 0, 0.2) !default;
$tooltip-content-multiline-width: 300px;
$tooltip-background-color: #000000 !default;
$tooltip-color: #ffffff !default;

// Button

$button-background-color: #ffffff !default;
$button-color: #000000 !default;
$button-padding: calc(.375em - 1px) .75em !default;
$button-border: 1px solid #000000 !default;
$button-border-radius: 4px !default;
$button-box-shadow: none !default;
$button-font-size: $base-font-size !default;
$button-line-height: 1.5 !default;
$button-margin: 0 !default;
$button-margin-border-to-icon: calc(-.375em - 1px) !default;
$button-margin-icon-to-text: .1875em !default;
$button-rounded-border-radius: 9999px !default;

// Icon

$icon-spin-duration: 2s !default;

// Input

$input-control-icon-zindex: 4 !default;
$input-height: 2em;
$input-box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1) !default;
$input-max-width: 100% !default;
$input-width: 100% !default;
$input-background-color: #ffffff !default;
$input-border-color: #dbdbdb !default;
$input-border-radius: 4px !default;
$input-color: #363636 !default;
$input-border: 1px solid transparent !default;
$input-line-height: 1.5 !default;
$input-margin: 0 !default;
$input-padding: calc(.375em - 1px) calc(.625em - 1px) !default;
$input-textarea-padding: 0.625em !default;
$input-textarea-max-height: 600px !default;
$input-textarea-min-height: 120px !default;
$input-counter-font-size: .75rem !default;
$input-counter-margin: .25rem 0 0 .5rem !default;

// Checkbox

$checkbox-active-background-color: $primary !default;
$checkbox-background-color: transparent !default;
$checkbox-border-color: $grey !default;
$checkbox-border-radius: 4px !default;
$checkbox-border-width: 2px !default;
$checkbox-checkmark-color: $primary-invert !default;
$checkbox-size: 1.25em !default;
$checkbox-margin-sibiling: 0.5em !default;
$checkbox-checked-box-shadow-length: 0 0 0.5em !default;
$checkbox-checked-box-shadow-color: $checkbox-active-background-color !default;
$checkbox-checked-box-shadow-opacity: 0.8 !default;
$checkbox-focus-sibiling-box-shadow: $checkbox-checked-box-shadow-length rgba($grey, $checkbox-checked-box-shadow-opacity) !default;
$checkbox-disabled-opacity: 0.5 !default;
$checkbox-label-padding: $control-padding-horizontal 0 0 0 !default;

// Radio

$radio-active-background-color: $primary !default;
$radio-size: 1.25em !default;
$radio-border: 2px solid $grey !default;
$radio-margin-sibiling: 0.5em !default;
$radio-checked-box-shadow-length: 0 0 0.5em !default;
$radio-checked-box-shadow-color: $radio-active-background-color !default;
$radio-checked-box-shadow-opacity: 0.8 !default;
$radio-focus-sibiling-box-shadow: $radio-checked-box-shadow-length rgba($grey, $radio-checked-box-shadow-opacity) !default;
$radio-disabled-opacity: 0.5 !default;
$radio-label-padding: $control-padding-horizontal 0 0 0 !default;

// Switch

$switch-width-number: 2.75 !default;
$switch-width: $switch-width-number * 1em !default;
$switch-padding: 0.2em !default;
$switch-margin-sibling: 0.5em !default;
$switch-background: $grey !default;
$switch-border-radius: 9999px !default;
$switch-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05) !default;
$switch-active-background-color: $primary !default;
$switch-active-box-shadow-length: 0 0 0.5em !default;
$switch-active-box-shadow-color: $grey !default;
$switch-active-box-shadow-opacity: 0.6 !default;
$switch-active-background-color-opacity: 0.9 !default;
$switch-checked-box-shadow-length: 0 0 0.5em !default;
$switch-checked-box-shadow-color: $switch-active-background-color !default;
$switch-checked-box-shadow-opacity: 0.8 !default;
$switch-label-padding: $control-padding-horizontal 0 0 0 !default;
$switch-hover-background: rgba($grey-light, 0.9) !default;
$switch-disabled-opacity: 0.5 !default;
$switch-rounded-border-radius: 9999px !default;
$switch-hover-border-color: $grey-light !default;
$switch-hover-border-color-opacity: 0.9 !default;
$switch-outlined-background: $grey-light !default;
$switch-outlined-border-color-opacity: 0.9 !default;
$switch-outlined-border-width: .1rem !default;
$switch-outlined-border-style: solid !default;
$switch-outlined-border-color: $switch-outlined-background !default;

// Select

$select-control-icon-zindex: 4 !default;
$select-font-size: 1em !default;
$select-max-width: 100% !default;
$select-background-color: #fff !default;
$select-border-color: #dbdbdb !default;
$select-border-radius: 4px !default;
$select-color: #363636 !default;
$select-margin: 0 !default;
$select-box-shadow: none !default;
$select-height: 2.5em !default;
$select-line-height: 1.5 !default;
$select-padding: calc(.5em - 1px) 2em calc(.5em - 1px) calc(.75em - 1px) !default;
$select-option-disabled-opacity: 0.5 !default;
$select-empty-color: rgba($grey, 0.7) !default;
$select-optgroup-color: $grey-light !default;
$select-optgroup-font-weight: 500 !default;
$select-optgroup-font-style: normal !default;
$select-optgroup-padding: 0.25em 0 !default;
$select-option-color: #4a4a4a !default;
$select-option-padding: .25em .5em !default;

// Modal

$modal-mobile-breakpoint: 1024px !default;
$modal-zindex: 40 !default;
$modal-background-color: hsla(0,0%,4%,.86) !default;
$modal-content-fullscreen-background-color: #f5f5f5 !default;
$modal-close-height: 32px !default;
$modal-close-width: 32px !default;
$modal-close-top: 20px !default;
$modal-close-right: 20px !default;
$modal-close-border-radius: 9999px !default;

// Table

$table-sticky-header-height: 300px !default;
$table-mobile-breakpoint: 1024px !default;
$table-border-radius: 4px !default;
$table-background: #f5f5f5 !default;
$table-background-color: #fff !default;
$table-color: black !default;
$table-th-font-weight: 600 !default;
$table-current-sort-font-weight: 700 !default;
$table-row-active-background-color: $primary !default;
$table-row-active-color: $primary-invert !default;
$table-detail-chevron-color: $primary !default;
$table-detail-background: black !default;
$table-detail-box-shadow: inset 0 1px 3px $grey !default;
$table-detail-padding: 1rem !default;
$table-focus-border-color: $primary !default;
$table-focus-box-shadow: 0 0 0 0.125em rgba($primary, 0.25) !default;
$table-card-box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
$table-card-detail-margin: -1rem 0 0 0;
$table-card-margin: 0 0 1rem 0;
$table-bordered-border-width: 1px !default;
$table-bordered-bottom-color: $grey !default;
$table-narrow-padding: .25em .5em !default;
$table-striped-background-color: #fafafa !default;
$table-hoverable-background-color: #fafafa !default;
$table-current-sort-border-color: $grey !default;
$table-current-sort-hover-border-color: $grey !default;
$table-multi-column-reset-icon-margin: 0 0 0 10px !default;
$table-sticky-zindex: 1 !default;
$table-card-cell-padding: 0 0.5em 0 0 !default;
$table-card-cell-font-weight: $table-th-font-weight !default;
$table-card-cell-text-align: left !default;
$table-boder: 1px solid transparent !default;
$table-th-border-width: 0 0 2px 0 !default;
$table-th-border-color: #dbdbdb !default;
$table-th-border-style: solid !default;
$table-th-color: #363636 !default;
$table-th-padding: 0.5em 0.75em !default;
$table-td-border-color: #dbdbdb !default;
$table-td-border-style: solid !default;
$table-td-border-width: 0 0 1px !default;
$table-td-padding: .5em .75em !default;
$table-detail-chevron-width: 40px !default;
$table-th-wrap-icon-margin: 0.5rem !default;

// Pagination

$pagination-link-current-background-color: $primary !default;
$pagination-link-current-border-color: $primary !default;
$pagination-link-current-color: #fff !default;
$pagination-link-line-height: 1.5 !default;
$pagination-link-border: 1px solid transparent !default;
$pagination-link-border-radius: 4px !default;
$pagination-link-border-color: #dbdbdb !default;
$pagination-link-color: #363636 !default;
$pagination-link-min-width: 2.25em !default;
$pagination-link-height: 2.25em !default;
$pagination-link-hover-border-color: #b5b5b5 !default;
$pagination-link-hover-color: #363636 !default;
$pagination-disabled-opacity: 0.5 !default;
$pagination-mobile-breakpoint: 1024px !default;
$pagination-font-size: 1rem !default;
$pagination-margin: -.25rem !default;
$pagination-rounded-border-radius: 9999px !default;
$pagination-link-margin: .25rem !default;
$pagination-ellipsis-color: #b5b5b5 !default;

// Field

$field-margin-bottom: .75rem !default;
$field-label-color: #363636 !default;
$field-label-font-size: $base-font-size !default;
$field-label-font-weight: 600 !default;
$field-message-font-size: .75rem !default;
$field-message-margin-top: .25rem !default;

