
$css-vars: false;
$sass-vars: true;

@import "utilities/_variables";
@import "utilities/_helpers";

// autocomplete
$whitelist: add-to-whitelist(
    'autocomplete-menu-background',
    'autocomplete-menu-zindex'
);

// button
$whitelist: add-to-whitelist(
    'button-background-color',
    'button-color',
    'button-disabled-opacity',
    'button-height'
);

// checkbox
$whitelist: add-to-whitelist(
    'checkbox-size',
    'checkbox-active-background-color',
    'checkbox-checkmark-color',
    'checkbox-border-color'
);


// datepicker
$whitelist: add-to-whitelist(
    'datepicker-btn-height',
    'datepicker-btn-border-color',
    'datepicker-btn-color'
);


// dropdown
$whitelist: add-to-whitelist(
    'dropdown-menu-background',
    'dropdown-mobile-overlay-color',
    'dropdown-disabled-opacity',
    'dropdown-menu-zindex',
    'dropdown-mobile-overlay-zindex',
    'dropdown-mobile-zindex',
    'dropdown-item-active-background-color',
    'dropdown-item-active-color',
    'dropdown-item-disabled-opacity'
);

// icon
$whitelist: add-to-whitelist(
    'icon-spin-duration'
);

// input
$whitelist: add-to-whitelist(
    'input-height'
);

// modal
$whitelist: add-to-whitelist(
    'modal-zindex',
    'modal-content-background-color',
    'modal-overlay-background-color',
    'moda-close-size',
    'modal-close-top',
    'modal-close-right'
);

// pagination
$whitelist: add-to-whitelist(
    'pagination-link-height',
    'pagination-link-current-background-color',
    'pagination-link-current-border-color',
    'pagination-link-current-color'
);

// radio
$whitelist: add-to-whitelist(
    'radio-size',
    'radio-active-background-color'
);

// select
$whitelist: add-to-whitelist(
    'select-height'
);

// sidebar
$whitelist: add-to-whitelist(
    'sidebar-zindex',
    'sidebar-overlay',
    'sidebar-content-background-color'
);

// slider
$whitelist: add-to-whitelist(
    'slider-track-background',
    'slider-tick-background',
    'slider-fill-background',
    'slider-thumb-size',
    'slider-thumb-background',
    'slider-thumb-border',
    'slider-background',
    'slider-tick-width',
    'slider-track-height'
);

// skeleton
$whitelist: add-to-whitelist(
    'skeleton-background',
    'skeleton-duration'
);

// switch
$whitelist: add-to-whitelist(
    'switch-width',
    'switch-padding',
    'switch-background',
    'switch-action-background',
    'switch-active-background-color',
    'switch-disabled-opacity',
    'switch-rounded-border-radius'
);

// tooltip
$whitelist: add-to-whitelist(
    'tooltip-arrow-size',
    'tooltip-arrow-margin',
    'tooltip-content-zindex',
    'tooltip-background-color'
);

@import "oruga-common.scss";
