.oruga-doc-video {
  width: 100%;
  max-width: 640px;
  height: auto;
}

.installation-tabs {
  border-radius: 6px;
  overflow: hidden;
}

.installation-tabs-content {
  background: #282c34;
  overflow: hidden;
  padding: 0!important;
}

.installation-tabs-nav-buttons {
  display: flex;
  background: #282c34;
}

.installation-tabs-nav-button-default {
  outline: 0;
  height: 3rem;
  width: 4rem;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  align-items: center;
}

.installation-tabs-nav-button-active-default {
  color: #f08d49;
  border-bottom: 1px solid #f08d49;
}


