
/* @docs */
$autocomplete-item-color: #000000 !default;
$autocomplete-item-disabled-opacity: $base-disabled-opacity !default;
$autocomplete-item-font-size: $base-font-size !default;
$autocomplete-item-hover-background-color: #f5f5f5 !default;
$autocomplete-item-hover-color: #000000 !default;
$autocomplete-item-line-height: $base-line-height !default;
$autocomplete-item-padding: .375rem 1rem !default;
$autocomplete-menu-background: #ffffff !default;
$autocomplete-menu-border-radius: $base-border-radius !default;
$autocomplete-menu-box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02) !default;
$autocomplete-menu-margin: 0 !default;
$autocomplete-menu-max-height: 200px !default;
$autocomplete-menu-padding: .5rem 0 .5rem 0 !default;
$autocomplete-menu-zindex : 20 !default;
/* @docs */

.o-autocomplete {
    position: relative;
    .o-autocomplete-menu {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        overflow: auto;
        @include variable('z-index', 'autocomplete-menu-zindex', $autocomplete-menu-zindex);
        @include variable('background-color', 'autocomplete-menu-background', $autocomplete-menu-background);
        @include variable('border-radius', 'autocomplete-menu-border-radius', $autocomplete-menu-border-radius);
        @include variable('box-shadow', 'autocomplete-menu-box-shadow', $autocomplete-menu-box-shadow);
        @include variable('padding', 'autocomplete-menu-padding', $autocomplete-menu-padding);
        @include variable('margin', 'autocomplete-menu-margin', $autocomplete-menu-margin);
        @include variable('max-height', 'autocomplete-menu-max-height', $autocomplete-menu-max-height);
        
        .o-autocomplete-item {
            display: block;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            cursor: pointer;
            @include variable('color', 'autocomplete-item-color', $autocomplete-item-color);
            @include variable('font-size', 'autocomplete-item-font-size', $autocomplete-item-font-size);
            @include variable('line-height', 'autocomplete-item-line-height', $autocomplete-item-line-height);
            @include variable('padding', 'autocomplete-item-padding', $autocomplete-item-padding);
            &.o-autocomplete-item-disabled {
                pointer-events: none;
                @include variable('opacity', 'autocomplete-item-disabled-opacity', $autocomplete-item-disabled-opacity);
            }
            &:hover, &.o-autocomplete-item-hovered {
                @include variable('background', 'autocomplete-item-hover-background-color', $autocomplete-item-hover-background-color);
                @include variable('color', 'autocomplete-item-hover-color', $autocomplete-item-hover-color);
                text-decoration: none;
            }
        }
    }
    &.o-autocomplete-opened-top .o-autocomplete-menu {
        top: auto;
        bottom: 100%;
    }
    &.o-autocomplete-expanded {
        width: 100%;
        .o-autocomplete-menu {
            width: 100%;
        }
    }
}
