.breadcrumb {
	.breadcrumb-item {
		// padding: 0 .2em;
		display: inline;
		list-style: none;
		cursor: pointer;
		color: $primary;
		a {
			font-weight: 400;
		}

		&.active {
			a {
				color: black;
			}
		}

	}

	&.slash-separator {
		.breadcrumb-item:not(:last-child):after {
			content: " / ";
		}
	}
	&.arrow-separator {
		.breadcrumb-item:not(:last-child):after {
			content: " → ";
		}
	}
	&.chevron-separator {
		.breadcrumb-item:not(:last-child):after {
			content: " > ";
		}
	}
	&.bullet-separator {
		.breadcrumb-item:not(:last-child):after {
			content: " • ";
		}
	}
	&.dot-separator {
		.breadcrumb-item:not(:last-child):after {
			content: " ∙ ";
		}
	}
	@each $name, $value in $sizes {
		&--#{$name} {
			.breadcrumb-item {
				font-size: $value;
			}
		}
	}
	// &--small {
	// 	.breadcrumb-item {
	// 		font-size: .5em;
	// 	}
	// }
	// &--medium {
	// 	.breadcrumb-item {
	// 		font-size: 1em;
	// 	}
	// }
	// &--large {
	// 	.breadcrumb-item {
	// 		font-size: 2em;
	// 	}
	// }

}

