
/* @docs */
$breadcrumb-color: $primary !default; 
$breadcrumb-cursor: pointer !default;
$breadcrumb-font-weight: 400 !default;
$breadcrumb-active: black !default; 
$breadcrumb-disabled-opacity: $base-disabled-opacity !default;
/* @docs */

.o-breadcrumb {
	.o-breadcrumb-item {
		// padding: 0 .2em;
		display: inline;
		list-style: none;
		cursor: $breadcrumb-cursor;
		color: $breadcrumb-color;
		a {
			font-weight: $breadcrumb-font-weight;
		}
		&--active {
			a {
				color: $breadcrumb-active;
			}
		}
		&--disabled {
			a {
				opacity: $breadcrumb-disabled-opacity;
				cursor: not-allowed;
				pointer-events: none;
			}
		}
	}
	&__slash-separator {
		.o-breadcrumb-item:not(:last-child):after {
			content: " / ";
		}
	}
	&__arrow-separator {
		.o-breadcrumb-item:not(:last-child):after {
			content: " → ";
		}
	}
	&__chevron-separator {
		.o-breadcrumb-item:not(:last-child):after {
			content: " > ";
		}
	}
	&__bullet-separator {
		.o-breadcrumb-item:not(:last-child):after {
			content: " • ";
		}
	}
	&__dot-separator {
		.o-breadcrumb-item:not(:last-child):after {
			content: " ∙ ";
		}
	}
	@each $name, $value in $sizes {
		&--#{$name} {
			.o-breadcrumb-item {
				font-size: $value;
			}
		}
	}
	// &--small {
	// 	.breadcrumb-item {
	// 		font-size: .5em;
	// 	}
	// }
	// &--medium {
	// 	.breadcrumb-item {
	// 		font-size: 1em;
	// 	}
	// }
	// &--large {
	// 	.breadcrumb-item {
	// 		font-size: 2em;
	// 	}
	// }

}

