/* @docs */
$carousel-min-height: 120px !default;
$carousel-arrow-background: $white !default;
$carousel-arrow-color: $primary !default;
$carousel-arrow-icon-spaced: 1.5rem !default;
$carousel-arrow-top: 50% !default;
$carousel-arrow-size: 1.5rem !default;
$carousel-indicator-background: rgba($white , 0.50) !default;
$carousel-indicator-border: $white !default;
$carousel-indicator-color: $primary !default;
$carousel-indicator-spaced: .5rem !default;
$carousel-overlay-background: rgba($white , 0.86) !default;
$carousel-overlay-z: 40 !default;
/* @docs */

.o-car {
    @include unselectable;
    min-height: $carousel-min-height;
    position: relative;
    &__overlay {
        background-color: $carousel-overlay-background;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        max-height: 100vh;
        position: fixed;
        z-index: $carousel-overlay-z;
    }
    &__progress {
        border-radius: $base-border-radius;
        height: 0.25rem;
        margin-bottom: 0;
    }
    &__items {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    &__item {
        flex-shrink: 0;
        width: 100%;
    }
    &__pause {
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0.15rem;
        z-index: 1;
    }
    &__indicators {
        width: 100%;
        padding: $carousel-indicator-spaced;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $carousel-indicator-background;
        &--inside {
            position: absolute;
            &--bottom {
                bottom: 0;
            }
            &--top {
                top: 0;
            }
        }
    }
    &__indicator {
        &:not(:last-child) {
            margin-right: $carousel-indicator-spaced;
        }

        &__item {
            display: block;
            border: 1px solid $carousel-indicator-color;
            background: $carousel-indicator-border;
            outline: none;
            transition: $speed-slow $easing;
            &--active, :hover {
                background: $carousel-indicator-color;
                border: 1px solid $carousel-indicator-border;
            }
            &--boxes {
                height: 10px;
                width: 10px;
            }
            &--dots {
                border-radius: $base-border-radius;
                height: 10px;
                width: 10px;
            }
            &---lines {
                height: 5px;
                width: 25px;
            }
        }
    }

    &__list {
        @include unselectable;
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    &__slides {
        position: relative;
        display: flex;
        width: 100%;
        &:not(&--dragging) {
            transition: all $speed-slower ease-out 0s;
        }
    }

    &__slide {
        border: 2px solid transparent;
        flex-shrink: 0;
    }

    &__arrow__icon {
        background: $carousel-arrow-background;
        color: $carousel-arrow-color;
        cursor: pointer;
        border: 1px solid $carousel-arrow-background;
        border-radius: $base-rounded-border-radius;
        transition: $speed-slow $easing;
        outline: 0;
        width: $carousel-arrow-size;
        height:$carousel-arrow-size;
        &:hover {
            border: 1px solid $carousel-arrow-color;
            opacity: 1;
        }
    }
    &__arrow__icon-left,
    &__arrow__icon-right {
        position: absolute;
        top: $carousel-arrow-top;
        transform: translateY(-$carousel-arrow-top);
        z-index: 1;
    }
    &__arrow__icon-left {
        left: $carousel-arrow-icon-spaced;
    }
    &__arrow__icon-right {
        right: $carousel-arrow-icon-spaced;
    }

}
