@use "sass:map";
/* @docs */
$dialog-font-size:map.get($sizes, "large") !default;
$dialog-font-weight: 400 !default;
$dialog-content-border-radius: $base-border-radius !default;
$field-horizontal-breakpoint:768px !default;
$dialog-zindex: 40 !default;
$dialog-header-background-color: $grey-lighter !default;
$dialog-footer-background-color: $grey-lighter !default;
$dialog-card-background-color: $white !default;
$dialog-content-padding: 10px !default;
$dialog-card-border-radius: $base-border-radius !default;
$dialog-background-background-color: hsla(0,0%,4%,.86) !default;
$dialog-close-border-radius: $base-rounded-border-radius !default;
$dialog-close-height: 32px !default;
$dialog-close-right: 20px !default;
$dialog-close-top: 20px !default;
$dialog-close-width: 32px !default;
$dialog-content-fullscreen-background-color: #f5f5f5 !default;
$dialog-content-max-height: calc(100vh - 160px) !default;
$dialog-content-margin: 0 auto !default;
$dialog-footer-margin: 0 auto !default;
$dialog-footer-padding: 10px !default;
$dialog-mobile-breakpoint: 1024px !default;
$dialog-zindex: 40 !default;
/* @docs */

.o-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    @include variable('z-index', 'dialog-zindex', $dialog-zindex);
    &.o-dialog-full-screen {
        > .o-dialog-content {
            width: 100%;
            height: 100%;
            max-height: 100vh;
            margin: 0;
            @include variable('background-color', 'dialog-content-fullscreen-background-color', $dialog-content-fullscreen-background-color);
        }
    }
    .o-dialog-background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        @include variable('background-color', 'dialog-background-background-color', $dialog-background-background-color);
    }
    .o-dialog-header {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 40px);
        overflow: hidden;
        font-size: $dialog-font-size;
        font-weight: $dialog-font-weight;
        @include variable('background-color', 'dialog-header-background-color', $dialog-header-background-color);
        @include variable('margin', 'dialog-header-margin', $dialog-content-margin);
        @include variable('padding-left', 'dialog-header-padding', $dialog-content-padding);
        @include variable('padding-rigth', 'dialog-header-padding', $dialog-content-padding);
    }
    .o-dialog-content {
        position: relative;
        max-height: calc(100vh - 160px);
        overflow: auto;
        @include variable('margin', 'dialog-content-margin', $dialog-content-margin);
        @include variable('max-height', 'dialog-content-max-height', $dialog-content-max-height);
        @include variable('padding', 'dialog-content-padding', $dialog-content-padding);
        @include variable('border-radius', 'dialog-content-border-radius', $dialog-content-border-radius);
        .field {
            margin-top: 16px;
        }
        &.is-titleless {
            border-top-left-radius: $dialog-content-border-radius;
            border-top-right-radius: $dialog-content-border-radius;
        }
        @media screen and (max-width: $dialog-mobile-breakpoint - 1px) {
            width: 100%;
        }

    }
    .o-dialog-card {
        position: relative;
        max-height: calc(100vh - 160px);
        overflow: auto;
        @include variable('background-color', 'dialog-card-background-color', $dialog-card-background-color);
        @include variable('border-radius', 'dialog-card-border-radius', $dialog-card-border-radius);
        .field {
            margin-top: 16px;
        }
        &.is-titleless {
            border-top-left-radius: $dialog-content-border-radius;
            border-top-right-radius: $dialog-content-border-radius;
        }
        @media screen and (max-width: $dialog-mobile-breakpoint - 1px) {
            width: 100%;
        }

    }
    .o-dialog-content {
        position: relative;
        max-height: calc(100vh - 160px);
        overflow: auto;
        @include variable('margin', 'dialog-content-margin', $dialog-content-margin);
        @include variable('max-height', 'dialog-content-max-height', $dialog-content-max-height);
        @include variable('padding', 'dialog-content-padding', $dialog-content-padding);
        .field {
            margin-top: 16px;
        }
        &.is-titleless {
            border-top-left-radius: $dialog-content-border-radius;
            border-top-right-radius: $dialog-content-border-radius;
        }
        @media screen and (max-width: $dialog-mobile-breakpoint - 1px) {
            width: 100%;
        }

    }
    .o-dialog-footer {
        display: flex;
        justify-content: flex-end;
        .o-button {
            display: inline; // Fix Safari centering
            min-width: 5em;
            font-weight: $dialog-font-weight / 2;
            margin-left :5px
        }
        @include variable('background-color', 'dialog-footer-background-color', $dialog-footer-background-color);
        @include variable('margin', 'dialog-footer-margin', $dialog-footer-margin);
        @include variable('padding', 'dialog-footer-padding', $dialog-footer-padding);
    }
    @media screen and (min-width: $field-horizontal-breakpoint) {
        min-width: 320px;
    }
    .o-dialog-close {
        background: none;
        position: fixed;
        border: none;
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 0;
        outline: none;
        vertical-align: top;
        @include variable('border-radius', 'dialog-close-border-radius', $dialog-close-border-radius);
        @include variable('right', 'dialog-close-right', $dialog-close-right);
        @include variable('top', 'dialog-close-top', $dialog-close-top);
        @include variable('height', 'dialog-close-height', $dialog-close-height);
        @include variable('width', 'dialog-close-width', $dialog-close-width);
        &:before, &:after {
            background-color: #fff;
            content: "";
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform-origin: center center;
        }
        &:before {
            height: 2px;
            width: 50%;
        }
        &:after {
            height: 50%;
            width: 2px;
        }
    }
   /*&.is-small {
        .dialog-card,
        .input,
        .button {
            @include control-small;
        }
    }
    &.is-medium {
        .dialog-card,
        .input,
        .button {
            @include control-medium;
        }
    }
    &.is-large {
        .dialog-card,
        .input,
        .button {
            @include control-large;
        }
    }
    &.has-custom-container {
        position: absolute;
    }*/
}


.media {
    align-items: flex-start;
    display: flex;

}

.media .content:not(:last-child) {
    margin-bottom: 0.75rem;
}

.media .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    display: flex;
    padding-top: 0.75rem;
}

.media .media .content:not(:last-child),
.media .media .control:not(:last-child) {
    margin-bottom: 0.5rem;
}

.media .media .media {
    padding-top: 0.5rem;
}

.media .media .media + .media {
    margin-top: 0.5rem;
}

.media + .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    margin-top: 1rem;
    padding-top: 1rem;
}

.media.is-large + .media {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.media-left,
.media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.media-left {
    margin-right: 1rem;
}

.media-right {
    margin-left: 1rem;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: inherit;

}

@media screen and (max-width: 768px) {
    .media-content {
        overflow-x: auto;
    }
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}
