
$icon-spin-duration: 2s !default;

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.o-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    @each $name, $value in $sizes {
        &.o-size-#{$name} {
            @include variable('font-size', ('icon-font-size-' + #{$name}), $value);
        }
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        &.o-color-#{$name} {
            @include variable('color', ('color-' + #{$name}), $color);
        }
    }
    &.o-icon-clickable {
        pointer-events: auto;
        cursor: pointer;
    }
    &.o-icon-spin {
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include variable('animation-duraiton', 'icon-spin-duration', $icon-spin-duration);
    }
}
