
/* @docs */
$loading-overlay-legacy: #7f7f7f !default;
$loading-overlay: rgba(255,255,255,0.5) !default;
$loading-zindex: 29 !default;
$loading-fullpage-zindex: 999 !default;
/* @docs */

.o-load {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    @include avariable('z-index', 'loading-zindex', $loading-zindex);
    &--fullpage {
        position: fixed;
        @include avariable('z-index', 'loading-fullpage-zindex', $loading-fullpage-zindex);
    }
    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        @include avariable('background', 'loading-overlay-legacy', $loading-overlay-legacy);
        @include avariable('background', 'loading-overlay', $loading-overlay);
    }
}
