
/* @docs */
$loading-background-legacy: #7f7f7f !default;
$loading-background: rgba(255,255,255,0.5) !default;
$loading-fullpage-icon-size: 5em !default;
$loading-icon-size: 2.5em !default;
$loading-zindex: 999 !default;
/* @docs */

.o-loading-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    @include variable('z-index', 'loading-zindex', $loading-zindex);
    &.o-loading-fullpage {
        position: fixed;
        .o-loading-icon {
            @include variable('top', 'loading-fullpage-icon-size', $loading-fullpage-icon-size, 'calc', '/ 2', '50% -');
            @include variable('left', 'loading-fullpage-icon-size', $loading-fullpage-icon-size, 'calc', '/ 2', '50% -');
            .o-icon {
                * {
                    @include variable('width', 'loading-fullpage-icon-size', $loading-fullpage-icon-size);
                    @include variable('height', 'loading-fullpage-icon-size', $loading-fullpage-icon-size);
                }
            }
        }
    }
    &:not(.o-loading-fullpage) {
        .o-loading-icon {
            @include variable('top', 'loading-icon-size', $loading-icon-size, 'calc', '/ 2', '50% -');
            @include variable('left', 'loading-icon-size', $loading-icon-size, 'calc', '/ 2', '50% -');
            .o-icon {    
                * {
                    @include variable('width', 'loading-icon-size', $loading-icon-size);
                    @include variable('height', 'loading-icon-size', $loading-icon-size);
                }
            }
        }
    }
    .o-loading-background {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        @include variable('background', 'loading-background-legacy', $loading-background-legacy);
        @include variable('background', 'loading-background', $loading-background);
    }
}
