
/* @docs */
$loading-background-legacy: #7f7f7f !default;
$loading-background: rgba(255,255,255,0.5) !default;
$loading-zindex: 999 !default;
/* @docs */

.o-load {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    @include avariable('z-index', 'loading-zindex', $loading-zindex);
    &--fullpage {
        position: fixed;
    }
    &__icon {
        &--fullpage {
        }
    }
    &__background {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        @include avariable('background', 'loading-background-legacy', $loading-background-legacy);
        @include avariable('background', 'loading-background', $loading-background);
    }
}
