/* @docs */
$menu-item-color: $black !default;
$menu-item-radius: $base-border-radius !default;
$menu-item-hover-color: $black !default;
$menu-item-hover-background-color: $grey-light !default;
$menu-item-active-color: $primary-invert !default;
$menu-item-active-background-color: $primary !default;

$menu-list-border-left: 1px solid $primary !default;
$menu-list-line-height: 1.25 !default;
$menu-list-link-padding: 0.5em 0.75em !default;
$menu-nested-list-margin: 0.75em !default;
$menu-nested-list-padding-left: 0.75em !default;

$menu-label-color: $black !default;
$menu-label-font-size: 0.75em !default;
$menu-label-letter-spacing: 0.1em !default;
$menu-label-spacing: 1em !default;
/* @docs */

.menu {
    font-size: 1rem;

    // Sizes
    &.is-small {
        font-size: 0.75rem;
    }

    &.is-medium {
        font-size: 1.25rem;
    }

    &.is-large {
        font-size: 1.5rem;
    }
}

.menu-list {
    line-height: $menu-list-line-height;
    padding-inline-start: 0px;
    list-style-type: none;
    a {
        cursor: pointer;
        border-radius: $menu-item-radius;
        color: $menu-item-color;
        display: block;
        padding: $menu-list-link-padding;

        &:hover {
            background-color: $menu-item-hover-background-color;
            color: $menu-item-hover-color;
        }

        // Modifiers
        &.is-active {
            background-color: $menu-item-active-background-color;
            color: $menu-item-active-color;
        }
    }

    ul {
        border-left: $menu-list-border-left;
        margin: $menu-nested-list-margin;
        padding: $menu-nested-list-padding-left;
        list-style-type: none;
    }

    & > a {
        cursor: pointer;
        &.is-disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.menu-label {
    color: $menu-label-color;
    font-size: $menu-label-font-size;
    letter-spacing: $menu-label-letter-spacing;
    text-transform: uppercase;

    &:not(:first-child) {
        margin-top: $menu-label-spacing;
    }

    &:not(:last-child) {
        margin-bottom: $menu-label-spacing;
    }
}
