
/* @docs */
$modal-content-background-color: $white !default;
$modal-content-padding: 10px !default;
$modal-content-border-radius: $base-border-radius !default;
$modal-background-background-color: hsla(0,0%,4%,.86) !default;
$modal-close-border-radius: $base-rounded-border-radius !default;
$modal-close-height: 32px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;
$modal-close-width: 32px !default;
$modal-close-color: $white !default;
$modal-content-fullscreen-background-color: #f5f5f5 !default;
$modal-content-max-height: calc(100vh - 160px) !default;
$modal-content-margin: 0 auto !default;
$modal-mobile-breakpoint: 1024px !default;
$modal-zindex: 40 !default;
/* @docs */

.o-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    @include avariable('z-index', 'modal-zindex', $modal-zindex);
    &__background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        @include avariable('background-color', 'modal-background-background-color', $modal-background-background-color);
    }
    &__content {
        position: relative;
        max-height: calc(100vh - 160px);
        overflow: auto;
        @include avariable('margin', 'modal-content-margin', $modal-content-margin);
        @include avariable('max-height', 'modal-content-max-height', $modal-content-max-height);
        @include avariable('background-color', 'modal-content-background-color', $modal-content-background-color);
        @include avariable('padding', 'modal-content-padding', $modal-content-padding);
        @include avariable('border-radius', 'modal-content-border-radius', $modal-content-border-radius);
        @media screen and (max-width: $modal-mobile-breakpoint - 1px) {
            width: 100%;
        }
        &--full-screen {
            width: 100%;
            height: 100%;
            max-height: 100vh;
            margin: 0;
            @include avariable('background-color', 'modal-content-fullscreen-background-color', $modal-content-fullscreen-background-color);
        }
    }
    &__close {
        background: none;
        position: fixed;
        border: none;
        display: inline-block;
        outline: none;
        vertical-align: top;
        @include avariable('border-radius', 'modal-close-border-radius', $modal-close-border-radius);
        @include avariable('right', 'modal-close-right', $modal-close-right);
        @include avariable('top', 'modal-close-top', $modal-close-top);
        @include avariable('height', 'modal-close-height', $modal-close-height);
        @include avariable('width', 'modal-close-width', $modal-close-width);
        @include avariable('color', 'modal-close-color', $modal-close-color);

    }
}
