
/* @docs */
$pagination-disabled-opacity: $base-disabled-opacity !default;
$pagination-ellipsis-color: #b5b5b5 !default;
$pagination-font-size: 1rem !default;
$pagination-link-border-color: #dbdbdb !default;
$pagination-link-border-radius: $base-border-radius !default;
$pagination-link-border: 1px solid transparent !default;
$pagination-link-color: #363636 !default;
$pagination-link-current-background-color: $primary !default;
$pagination-link-current-border-color: $primary !default;
$pagination-link-current-color: #fff !default;
$pagination-link-height: 2.25em !default;
$pagination-link-hover-border-color: #b5b5b5 !default;
$pagination-link-hover-color: #363636 !default;
$pagination-link-line-height: $base-line-height !default;
$pagination-link-margin: .25rem !default;
$pagination-link-min-width: 2.25em !default;
$pagination-margin: -.25rem !default;
$pagination-mobile-breakpoint: 768px !default;
$pagination-rounded-border-radius: $base-rounded-border-radius !default;
/* @docs */

.o-pag {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    @include avariable('font-size', 'pagination-font-size', $pagination-font-size);
    @include avariable('margin', 'pagination-margin', $pagination-margin);
    @each $name, $value in $sizes {
        &--#{$name} {
            @include avariable('font-size', ('pagination-font-size-' + #{$name}), $value);
        }
    }
    @media screen and (min-width: $pagination-mobile-breakpoint + 1) {
        justify-content: space-between;
    }
    @media screen and (max-width: $pagination-mobile-breakpoint) {
        flex-wrap: wrap;
    }

    &__link {
        justify-content: center;
        text-align: center;
        text-decoration: none;
        @include avariable('margin', 'pagination-link-margin', $pagination-link-margin);

        &--rounded {
            @include avariable('border-radius', 'pagination-rounded-border-radius', $pagination-rounded-border-radius);
        }

        cursor: pointer;
        &--current {
            pointer-events: none;
            @include avariable('background-color', 'pagination-link-current-background-color', $pagination-link-current-background-color);
            @include avariable('border-color', 'pagination-link-current-border-color', $pagination-link-current-border-color);
            @include avariable('color', 'pagination-link-current-color', $pagination-link-current-color);
        }

        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        box-shadow: none;
        display: inline-flex;
        position: relative;
        vertical-align: top;
        @include unselectable;
        @include avariable('line-height', 'pagination-link-line-height', $pagination-link-line-height);
        @include avariable('border', 'pagination-link-border', $pagination-link-border);
        @include avariable('border-radius', 'pagination-link-border-radius', $pagination-link-border-radius);
        @include avariable('border-color', 'pagination-link-border-color', $pagination-link-border-color);
        @include avariable('color', 'pagination-link-color', $pagination-link-color);
        @include avariable('min-width', 'pagination-link-min-width', $pagination-link-min-width);
        @include avariable('height', 'pagination-link-height', $pagination-link-height);
        &:hover {
            text-decoration: none;
            @include avariable('border-color', 'pagination-link-hover-border-color', $pagination-link-hover-border-color);
            @include avariable('color', 'pagination-link-hover-color', $pagination-link-hover-color);
        }

        @media screen and (max-width: $pagination-mobile-breakpoint) {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    &__ellipsis {
        justify-content: center;
        text-align: center;
        pointer-events: none;
        @include avariable('margin', 'pagination-link-margin', $pagination-link-margin);
        @include avariable('color', 'pagination-ellipsis-color', $pagination-ellipsis-color);
        @media screen and (max-width: $pagination-mobile-breakpoint) {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    &--simple {
        justify-content: normal;
    }
    &--centered {
        justify-content: center;
        .o-pag__previous {
            order: 1;
        }
        .o-pag__next {
            order: 3;
        }
        .o-pag__list {
            justify-content: center;
            order: 2;
        }
    }
    &--right {
        justify-content: flex-end;
        .o-pag__previous {
            order: 1;
        }
        .o-pag__next {
            order: 2;
        }
        .o-pag__list {
            justify-content: flex-end;
            order: 2;
        }
    }


    &__next {
        @media screen and (max-width: $pagination-mobile-breakpoint) {
            flex-grow: 1;
            flex-shrink: 1;
        }
        @media screen and (min-width: $pagination-mobile-breakpoint + 1) {
            order: 3;
        }
    }

    &__previous {
        @media screen and (max-width: $pagination-mobile-breakpoint) {
            flex-grow: 1;
            flex-shrink: 1;
        }
        @media screen and (min-width: $pagination-mobile-breakpoint + 1) {
            order: 2;
        }
    }

    &__list {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        list-style: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        @media screen and (min-width: $pagination-mobile-breakpoint + 1) {
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: flex-start;
            order: 1;
        }
    }

}
