
/* @docs */
$radio-active-background-color: $primary !default;
$radio-border: 2px solid $grey !default;
$radio-checked-box-shadow-color: $radio-active-background-color !default;
$radio-checked-box-shadow-length: 0 0 0.5em !default;
$radio-checked-box-shadow-opacity: 0.8 !default;
$radio-disabled-opacity: $base-disabled-opacity !default;
$radio-focus-sibiling-box-shadow: $radio-checked-box-shadow-length rgba($grey, $radio-checked-box-shadow-opacity) !default;
$radio-label-padding: 0 0 0 .5em !default;
$radio-margin-sibiling: 0.5em !default;
$radio-size: 1.25em !default;
$radio-line-height: 1.25 !default;
/* @docs */

$HALF_MARGIN_EXPRESSION: "calc($margin / 2)";

.o-radio {
    outline: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    @include unselectable;
    @include avariable('line-height', 'radio-line-height', $radio-line-height);
    @include avariable('margin-right', 'radio-margin-sibiling', $radio-margin-sibiling);

    input[type=radio] {
        position: absolute;
        left: 0;
        opacity: 0;
        outline: none;
        z-index: -1;
    }

    &__check {
        display: flex;
        flex-shrink: 0;
        position: relative;
        cursor: pointer;
        border-radius: 50%;
        @include avariable('width', 'radio-size', $radio-size);
        @include avariable('height', 'radio-size', $radio-size);
        transition-property: background;
        @include avariable('transition-duration', 'transition-duration', $speed-slow);
        @include avariable('transition-timing-function', 'transition-timing', $easing);
        @include avariable('border', 'radio-border', $radio-border);

        &--checked {
            @include avariable('border-color', 'radio-active-background-color', $radio-active-background-color);
            @each $name, $pair in $colors {
                $color: nth($pair, 1);
                &--#{$name} {
                    @include avariable('border-color', ('variant-' + #{$name}), $color);
                }
            }
            .o-radio__circle {
                transform: scale(.5);
            }
        }
    }
    &__label {
        @include avariable('padding', 'radio-label-padding', $radio-label-padding);
    }
    &__circle {
        content: "";
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 50%;
        border-radius: 50%;
        transform: scale(0);
        transition-property: transform;
        @include evariable(
            'margin-bottom', $HALF_MARGIN_EXPRESSION,
            eparam('$margin', variable('radio-size', -$radio-size))
        );
        @include evariable(
            'margin-left', $HALF_MARGIN_EXPRESSION,
            eparam('$margin', variable('radio-size', -$radio-size))
        );
        @include avariable('transition-duration', 'transition-duration', $speed-slow);
        @include avariable('transition-timing-function', 'transition-timing', $easing);
        @include avariable('width', 'radio-size', $radio-size);
        @include avariable('height', 'radio-size', $radio-size);
        @include avariable('background-color', 'radio-active-background-color', $radio-active-background-color);
    }
    &--disabled {
        @include avariable('opacity', 'radio-disabled-opacity', $radio-disabled-opacity);
    }

    @each $name, $value in $sizes {
        &--#{$name} {
            @include avariable('font-size', ('radio-font-size-' + #{$name}), $value);
        }
    }

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        &--#{$name} {
            .o-radio__check--checked {
                @include avariable('border-color', ('variant-' + #{$name}), $color);
            }
            .o-radio__circle {
                @include avariable('background-color', ('variant-' + #{$name}), $color);
            }
        }
    }
}
