
/* @docs */
$sidebar-background: hsla(0,0%,4%,.86) !default;
$sidebar-box-shadow: 5px 0px 13px 3px rgba($black, 0.1) !default;
$sidebar-content-background-color: $grey-lighter !default;
$sidebar-mobile-breakpoint: 1024px !default;
$sidebar-mobile-width: 80px !default;
$sidebar-width: 260px !default;
$sidebar-zindex: 38 !default;
/* @docs */

.o-sidebar {
    .o-sidebar-content {
        @include variable('background-color', 'sidebar-content-background-color', $sidebar-content-background-color);
        @include variable('box-shadow', 'sidebar-box-shadow', $sidebar-box-shadow);
        @include variable('width', 'sidebar-width', $sidebar-width);
        @include evariable(
            'z-index', 'calc($z-index + 1)',
            eparam('$z-index', variable('sidebar-zindex', $sidebar-zindex))
        );
        @each $name, $pair in $colors {
            $color: nth($pair, 1);
            &.o-color-#{$name} {
                @include variable('background-color', ('color-' + #{$name}), $color);
            }
        }
        &.o-sidebar-fixed {
            position: fixed;
            left: 0;
            top: 0;
            &.o-sidebar-right {
                left: auto;
                right: 0;
            }
        }
        &.o-sidebar-absolute {
            position: absolute;
            left: 0;
            top: 0;
            &.o-sidebar-right {
                left: auto;
                right: 0;
            }
        }
        &.o-sidebar-mini {
            @include variable('width', 'sidebar-mobile-width', $sidebar-mobile-width);
            &.o-sidebar-mini-expand:hover {
                transition: width;
                @include variable('transition-duration', 'transition-duration', $speed-slow);
                @include variable('transition-timing-function', 'transition-timing', $easing);
                &:not(.o-sidebar-fullwidth) {
                    @include variable('width', 'sidebar-width', $sidebar-width);
                    &.o-sidebar-mini-expand-fixed {
                        position: fixed;
                    }
                }
            }
        }
        &.o-sidebar-static {
            position: static;
        }
        &.o-sidebar-absolute, &.o-sidebar-static {
            transition: width $speed-slow $easing;
        }
        &.o-sidebar-fullwidth {
            width: 100%;
            max-width: 100%;
        }
        &.o-sidebar-fullheight {
            height: 100%;
            max-height: 100%;
            overflow: hidden;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-content: stretch;
        }
        @media screen and (max-width: $dropdown-mobile-breakpoint - 1px) {
            &.o-sidebar-mini-mobile {
                @include variable('width', 'sidebar-mobile-width', $sidebar-mobile-width);
                &.o-sidebar-mini-expand:hover {
                    &:not(.o-sidebar-fullwidth-mobile) {
                        @include variable('width', 'sidebar-width', $sidebar-width);
                        &.o-sidebar-mini-expand-fixed {
                            position: fixed;
                        }
                    }
                }
            }
            &.o-sidebar-hidden-mobile {
                width: 0;
                height: 0;
                overflow: hidden;
            }
            &.o-sidebar-fullwidth-mobile {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .o-sidebar-background {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: fixed;
        @include variable('background', 'sidebar-background', $sidebar-background);
        @include variable('z-index', 'sidebar-zindex', $sidebar-zindex);
    }
}
