
/* @docs */
$table-background-color: #fff !default;
$table-background: #f5f5f5 !default;
$table-boder: 1px solid transparent !default;
$table-border-radius: $base-border-radius !default;
$table-bordered-border-width: 1px !default;
$table-bordered-bottom-color: $grey !default;
$table-card-box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
$table-card-cell-font-weight: 600 !default;
$table-card-cell-padding: 0 0.5em 0 0 !default;
$table-card-cell-text-align: left !default;
$table-card-detail-margin: -1rem 0 0 0;
$table-card-margin: 0 0 1rem 0;
$table-color: black !default;
$table-current-sort-border-color: $grey !default;
$table-current-sort-font-weight: 700 !default;
$table-current-sort-hover-border-color: $grey !default;
$table-detail-background: black !default;
$table-detail-box-shadow: inset 0 1px 3px $grey !default;
$table-detail-chevron-color: $primary !default;
$table-detail-chevron-width: 40px !default;
$table-detail-padding: 1rem !default;
$table-focus-border-color: $primary !default;
$table-focus-box-shadow: 0 0 0 0.125em rgba($primary, 0.25) !default;
$table-hoverable-background-color: #fafafa !default;
$table-mobile-breakpoint: 1024px !default;
$table-multi-column-reset-icon-margin: 0 0 0 10px !default;
$table-narrow-padding: .25em .5em !default;
$table-row-active-background-color: $primary !default;
$table-row-active-color: $primary-invert !default;
$table-sticky-header-height: 300px !default;
$table-sticky-zindex: 1 !default;
$table-striped-background-color: #fafafa !default;
$table-td-border-color: #dbdbdb !default;
$table-td-border-style: solid !default;
$table-td-border-width: 0 0 1px !default;
$table-td-padding: .5em .75em !default;
$table-th-border-color: #dbdbdb !default;
$table-th-border-style: solid !default;
$table-th-border-width: 0 0 2px 0 !default;
$table-th-checkbox-width: 40px !default;
$table-th-color: #363636 !default;
$table-th-detail-width: 14px !default;
$table-th-font-weight: 600 !default;
$table-th-padding: 0.5em 0.75em !default;
$table-th-wrap-icon-margin: 0.5rem !default;
/* @docs */

@mixin table-cards {
    .table {
        background-color: transparent;
    }
    thead {
        tr {
            box-shadow: none;
            border-width: 0;
            th {
                display: none;
            }
            .o-table-th-checkbox {
                display: block;
                width: 100%;
                text-align: right;
                border: 0;
            }
        }
    }
    tfoot {
         th {
            border: 0;
            display: inherit;
         }
    }
    tr {
        @include variable('box-shadow', 'table-card-box-shadow', $table-card-box-shadow);
        max-width: 100%;
        position: relative;
        display: block;
        td {
            border: 0;
            display: inherit;
            &:last-child {
                border-bottom: 0;
            }
        }
        &:not(:last-child) {
            @include variable('margin', 'table-card-margin', $table-card-margin);
        }
        // Disables is-*
        &:not(.o-table-row-selected) {
            background: inherit;
            background: $table-background-color;
            &:hover {
                background-color: inherit;
                background-color: $table-background-color;
            }
        }
        &.o-table-detail {
            @include variable('margin', 'table-card-detail-margin', $table-card-detail-margin);
        }
    }
    tr:not(.o-table-detail):not(.o-table-empty):not(.o-table-footer) {
        td {
            display: flex;
            width: auto;
            justify-content: space-between;
            text-align: right;
            @include variable('border-bottom', 'table-background', ($table-background 1px solid));
            &:before {
                content: attr(data-label);
                @include variable('font-weight', 'table-card-cell-font-weight', $table-card-cell-font-weight);
                @include variable('padding-right', 'table-card-cell-padding', $table-card-cell-padding);
                @include variable('text-align', 'table-card-cell-text-align', $table-card-cell-text-align);
            }
        }
    }
}

.o-table {
    transition: opacity $speed $easing;
    position: relative;
    .o-table-wrapper {
        @media screen and (max-width: $table-mobile-breakpoint - 1px) {
            overflow-x: auto;
        }
        &.o-table-sticky-header {
            @include variable('height', 'table-sticky-header-height', $table-sticky-header-height);
            overflow-y: auto;
            &.o-table-mobile-cards {
                @media screen and (max-width: $table-mobile-breakpoint - 1px) {
                    height: initial;
                    overflow-y: initial;
                }
            }
        }
        &.o-table-mobile-cards {
            @media screen and (max-width: $table-mobile-breakpoint - 1px) {
                @include table-cards
            }
        }
        &.o-table-cards {
            @include table-cards
        }
        &.o-table-scrollable {
            -webkit-overflow-scrolling: touch;
            overflow: auto;
            overflow-y: hidden;
            max-width: 100%;
        }
    }

    .o-table-mobile-sort {
        @media screen and (min-width: $table-mobile-breakpoint) {
            display: none;
        }
        .o-icon {
            &.o-icon-sort {
                &.o-icon-sort-desc {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .o-icon {
        transition: transform $speed-slow $easing, opacity $speed $easing;
        &.o-icon-sort-expanded {
            transform: rotate(90deg);
        }
        &.o-icon-sort-invisible {
            visibility: hidden;
        }
        &.o-icon-sort {
            &.o-icon-sort-desc {
                transform: rotate(180deg) translateY(-50%);
            }
        }
    }

    table {
        display: table;
        width: 100%;
        @include variable('border', 'table-boder', $table-boder);
        @include variable('border-radius', 'table-border-radius', $table-border-radius);
        border-collapse: separate;
        border-spacing: 0;
        @include variable('background-color', 'table-background-color', $table-background-color);
        @include variable('color', 'table-color', $table-color);
        tbody tr:not(.o-table-row-selected):nth-child(2n) {
            @include variable('background-color', 'table-background-color', $table-background-color);
        }
        tr {
            th {
                @include variable('font-weight', 'table-th-font-weight', $table-th-font-weight);
                @include variable('border-width', 'table-th-border-width', $table-th-border-width);
                @include variable('color', 'table-th-color', $table-th-color);
                @include variable('border-color', 'table-th-border-color', $table-th-border-color);
                @include variable('border-style', 'table-th-border-style', $table-th-border-style);
                @include variable('padding', 'table-th-padding', $table-th-padding);
                vertical-align: top;
                .o-table-th-wrap {
                    display: flex;
                    align-items: center;
                    .o-table-th-content {
                        position: relative;
                    }
                    .o-icon-sort {
                        @include variable('margin-left', 'table-th-wrap-icon-margin', $table-th-wrap-icon-margin);
                        margin-right: 0;
                    }
                    &.o-table-th-right {
                        flex-direction: row-reverse;
                        text-align: right;
                        .o-icon-sort {
                            @include variable('margin-left', 'table-th-wrap-icon-margin', $table-th-wrap-icon-margin, 'calc', '/ 2');
                            margin-right: 0;
                        }
                    }
                    &.o-table-th-centered {
                        justify-content: center;
                        text-align: center;
                    }
                }
                &:not([align]) {
                    text-align: left;
                }
                &.o-table-th-checkbox {
                    @include variable('width', 'table-th-checkbox-width', $table-th-checkbox-width);
                }
                &.o-table-th-current-sort {
                    @include variable('border-color', 'table-current-sort-border-color', $table-current-sort-border-color);
                    @include variable('font-weight', 'table-current-sort-font-weight', $table-current-sort-font-weight);
                }
                &.o-table-th-sortable:hover {
                    @include variable('border-color', 'table-current-sort-hover-border-color', $table-current-sort-hover-border-color);
                }
                &.o-table-th-sortable,
                &.o-table-th-sortable .th-wrap {
                    cursor: pointer;
                }
                .o-icon-sort, .o-icon-sort-multi-cancel-icon {
                    position: absolute;
                    bottom: 50%;
                    left: 100%;
                    transform: translateY(50%);
                }
                .o-icon-sort-multi-cancel-icon {
                    @include variable('margin', 'table-multi-column-reset-icon-margin', $table-multi-column-reset-icon-margin);
                }
                &.o-table-th-sticky {
                    position: -webkit-sticky;
                    position: sticky;
                    left: 0;
                    @include variable('z-index', 'table-sticky-zindex', $table-sticky-zindex, 'calc', '+ 2');
                    @include variable('background', 'table-background-color', $table-background-color);
                }
                &.o-table-th-unselectable {
                   @include unselectable;
                }
                &.o-table-th-detail {
                   @include variable('width', 'table-th-detail-width', $table-th-detail-width);
                }
            }
            td {
                @include variable('border-color', 'table-td-border-color', $table-td-border-color);
                @include variable('border-style', 'table-td-border-style', $table-td-border-style);
                @include variable('border-width', 'table-td-border-width', $table-td-border-width);
                @include variable('padding', 'table-td-padding', $table-td-padding);
                vertical-align: top;
                &.o-table-td-sticky {
                    position: -webkit-sticky;
                    position: sticky;
                    left: 0;
                    @include variable('z-index', 'table-sticky-zindex', $table-sticky-zindex);
                    @include variable('background', 'table-background-color', $table-background-color);
                }
                &.o-table-td-right {
                    text-align: right;
                }
                &.o-table-td-centered {
                    text-align: center;
                }
            }
            &.o-table-row-selected {
                background-color: $table-row-active-background-color;
                color: $table-row-active-color;
                .o-checkbox input {
                    &:checked + .o-checkbox-check {
                        background: $table-row-active-color url(checkmark($table-row-active-background-color)) no-repeat center center;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include variable('background-color', 'table-row-active-color', $table-row-active-color);
                        @include variable('background-image', 'table-checkmark-row-active-color', url(checkmark($table-row-active-background-color)));
                    }
                    + .o-checkbox-check {
                        @include variable('border-color', 'table-row-active-color', $table-row-active-color);
                    }
                }
            }
            &.o-table-empty:hover {
                background-color: transparent;
            }
            &:last-child {
                td {
                    border-bottom-width: 0;
                }
            }
            .o-table-chevron-cell {
                vertical-align: middle;
                @include variable('width', 'table-detail-chevron-width', $table-detail-chevron-width);
                > a {
                    @include variable('color', 'table-detail-chevron-color', $table-detail-chevron-color);
                    .o-table-detail-icon-expanded {
                        transform: rotate(90deg);
                    }
                }
                .o-checkbox {
                    vertical-align: middle;
                    .o-checkbox-check {
                        transition: none;
                    }
                }
            }
            .o-table-detail {
                @include variable('box-shadow', 'table-detail-box-shadow', $table-detail-box-shadow);
                @include variable('background', 'table-detail-background', $table-detail-background);
                td {
                    @include variable('padding', 'table-detail-padding', $table-detail-padding);
                }
            }
        }
        &:focus {
            @include variable('border-color', 'table-focus-border-color', $table-focus-border-color);
            @include variable('box-shadow', 'table-focus-box-shadow', $table-focus-box-shadow);
        }
        &.o-table-bordered {
            tr:last-child {
                td, th {
                    @include variable('border-bottom-width', 'table-bordered-border-width', $table-bordered-border-width);
                }
            }
            td, th {
                @include variable('border-width', 'table-bordered-border-width', $table-bordered-border-width);
            }
        }
        &.o-table-striped {
            tbody tr:not(.o-table-row-selected):nth-child(2n) {
                @include variable('background-color', 'table-striped-background-color', $table-striped-background-color);
            }
        }
        &.o-table-narrow {
            td, th {
                @include variable('padding', 'table-narrow-padding', $table-narrow-padding);
            }
        }
        &.o-table-hoverable {
            tbody tr:not(.o-table-row-selected):hover {
                @include variable('background-color', 'table-hoverable-background-color', $table-hoverable-background-color);
            }
        }
    }
    .o-pagination-wrapper {
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: $table-mobile-breakpoint) {
            display: flex;
        }
        // left
        > div:first-child {
            align-items: center;
            justify-content: flex-start;
        }
        // right
        > div:last-child {
            align-items: center;
            justify-content: flex-end;
            > div {
                align-items: center;
                display: flex;
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 0;
                justify-content: center;
            }
        }
        // left - right
        > div {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
