
@mixin tooltip-arrow($direction, $color) {
    @if ($direction == "top") {
        border-top: $tooltip-arrow-size solid $color;
        @include variable('border-right', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
        @include variable('border-left', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
    } @else if ($direction == "bottom") {
        @include variable('border-right', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
        border-bottom: $tooltip-arrow-size solid $color;
        @include variable('border-left', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
    } @else if ($direction == "right") {
        @include variable('border-top', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
        border-right: $tooltip-arrow-size solid $color;
        @include variable('border-bottom', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
    } @else if ($direction == "left") {
        @include variable('border-top', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
        @include variable('border-bottom', 'tooltip-arrow-size solid transparent', $tooltip-arrow-size solid transparent);
        border-left: $tooltip-arrow-size solid $color;
    }
}

@mixin tooltip($direction) {
    &.o-tooltip-#{$direction} {
        .o-tooltip-content {
            @if ($direction == "top") {
                top: auto;
                right: auto;
                bottom: calc(100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin});
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "bottom") {
                top: calc(100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin});
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "right") {
                top: 50%;
                right: auto;
                bottom: auto;
                left: calc(100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin});
                transform: translateY(-50%);
            } @else if ($direction == "left") {
                top: 50%;
                right: calc(100% + #{$tooltip-arrow-size} + #{$tooltip-arrow-margin});
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
            }
        }
        .o-tooltip-content::before {
            @if ($direction == "bottom") {
                top: auto;
                right: auto;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "top") {
                top: 100%;
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "left") {
                top: 50%;
                right: auto;
                bottom: auto;
                left: 100%;
                transform: translateY(-50%);
            } @else if ($direction == "right") {
                top: 50%;
                right: 100%;
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
            }
            @include tooltip-arrow($direction, $tooltip-background-color);
        }
        @each $name, $pair in $colors {
            $color: nth($pair, 1);
            &.o-color-#{$name} {
                .o-tooltip-content::before {
                    @include tooltip-arrow($direction, $color)
                }
            }
        }
    }
}

// Base
.o-tooltip {
    @include tooltip("top");
    @include tooltip("right");
    @include tooltip("bottom");
    @include tooltip("left");
    position: relative;
    display: inline-flex;
    .o-tooltip-content {
        position: absolute;
        @include variable('max-width', 'tooltip-content-max-width', $tooltip-content-max-width);
        @include variable('padding', 'tooltip-content-padding', $tooltip-content-padding);
        @include variable('border-radius', 'tooltip-content-radius-large', $tooltip-content-radius-large);
        @include variable('font-size', 'tooltip-content-font-size', $tooltip-content-font-size);
        @include variable('font-weight', 'tooltip-content-weight-normal', $tooltip-content-weight-normal);
        @include variable('box-shadow', 'tooltip-content-box-shadow', $tooltip-content-box-shadow);
        @include variable('z-index', 'tooltip-content-zindex', $tooltip-content-zindex);
        white-space: nowrap;
        @include variable('background-color', 'tooltip-background-color', $tooltip-background-color);
        @include variable('color', 'tooltip-color', $tooltip-color);
    }
    .o-tooltip-content::before {
        position: absolute;
        content: "";
        pointer-events: none;
        @include variable('z-index', 'tooltip-content-zindex', $tooltip-content-zindex, 'calc', '+ 1'); 
    }
    .o-tooltip-trigger {
        width: 100%;
        @include variable('z-index', 'tooltip-content-zindex', $tooltip-content-zindex, 'calc', '+ 2');
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.o-color-#{$name} {
            .o-tooltip-content {
                @include variable('background', ('color-' + #{$name}), $color);
                @include variable('color', ('color-invert-' + #{$name}), $color);
            }
        }
    }
    &.o-tooltip-always {
        .o-tooltip-content::before,
        .o-tooltip-content {
            opacity: 1;
            visibility: visible;
        }
    }
    &.o-tooltip-multiline {
        .o-tooltip-content {
            text-align: center;
            white-space: normal;
            @include variable('width', 'tooltip-content-multiline-width', $tooltip-content-multiline-width);
        }
    }
}
