
/* @docs */
$tooltip-arrow-margin: 2px !default;
$tooltip-arrow-size: 5px !default;
$tooltip-background-color: $primary !default;
$tooltip-color: $primary-invert !default;
$tooltip-content-box-shadow: 0px 1px 2px 1px rgba(0, 1, 0, 0.2) !default;
$tooltip-content-font-size: 0.85rem !default;
$tooltip-content-max-width: 300px !default;
$tooltip-content-multiline-width: 300px;
$tooltip-content-padding: 0.35rem 0.75rem !default;
$tooltip-content-radius-large: 6px !default;
$tooltip-content-weight-normal: 400 !default;
$tooltip-content-zindex: 38 !default;
/* @docs */

$TBLR_CALC_EXPRESSION: "calc(($size + $margin) + 100%)";

@mixin tooltip-arrow($direction, $name, $color) {
    @if ($direction == "top") {
        border-top-style: solid;
        @include variable('border-top-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-top-color', if($name != null, ('color-' + #{$name}), 'tooltip-background-color'), $color);
        border-right-style: solid;
        border-right-color: transparent;
        border-left-style: solid;
        border-left-color: transparent;
        @include variable('border-right-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-left-width', 'tooltip-arrow-size', $tooltip-arrow-size);
    } @else if ($direction == "bottom") {
        border-bottom-style: solid;
        @include variable('border-bottom-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-bottom-color', if($name != null, ('color-' + #{$name}), 'tooltip-background-color'), $color);
        border-right-style: solid;
        border-right-color: transparent;
        border-left-style: solid;
        border-left-color: transparent;
        @include variable('border-right-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-left-width', 'tooltip-arrow-size', $tooltip-arrow-size);
    } @else if ($direction == "right") {
        border-right-style: solid;
        @include variable('border-right-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-right-color', if($name != null, ('color-' + #{$name}), 'tooltip-background-color'), $color);
        border-top-style: solid;
        border-top-color: transparent;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        @include variable('border-top-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-bottom-width', 'tooltip-arrow-size', $tooltip-arrow-size);
    } @else if ($direction == "left") {
        border-left-style: solid;
        @include variable('border-left-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-left-color', if($name != null, ('color-' + #{$name}), 'tooltip-background-color'), $color);
        border-top-style: solid;
        border-top-color: transparent;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        @include variable('border-top-width', 'tooltip-arrow-size', $tooltip-arrow-size);
        @include variable('border-bottom-width', 'tooltip-arrow-size', $tooltip-arrow-size);
    }
}

@mixin tooltip($direction) {
    &.o-tooltip-#{$direction} {
        .o-tooltip-content {
            @if ($direction == "top") {
                top: auto;
                right: auto;
                @include evariable(
                    'bottom', $TBLR_CALC_EXPRESSION,
                    eparam('$size', variable('tooltip-arrow-size', $tooltip-arrow-size)),
                    eparam('$margin', variable('tooltip-arrow-margin', $tooltip-arrow-margin)),
                );
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "bottom") {
                @include evariable(
                    'top', $TBLR_CALC_EXPRESSION,
                    eparam('$size', variable('tooltip-arrow-size', $tooltip-arrow-size)),
                    eparam('$margin', variable('tooltip-arrow-margin', $tooltip-arrow-margin)),
                );
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "right") {
                top: 50%;
                right: auto;
                bottom: auto;
                @include evariable(
                    'left', $TBLR_CALC_EXPRESSION,
                    eparam('$size', variable('tooltip-arrow-size', $tooltip-arrow-size)),
                    eparam('$margin', variable('tooltip-arrow-margin', $tooltip-arrow-margin)),
                );
                transform: translateY(-50%);
            } @else if ($direction == "left") {
                top: 50%;
                @include evariable(
                    'right', $TBLR_CALC_EXPRESSION,
                    eparam('$size', variable('tooltip-arrow-size', $tooltip-arrow-size)),
                    eparam('$margin', variable('tooltip-arrow-margin', $tooltip-arrow-margin)),
                );
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
            }
        }
        .o-tooltip-content::before {
            @if ($direction == "bottom") {
                top: auto;
                right: auto;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "top") {
                top: 100%;
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
            } @else if ($direction == "left") {
                top: 50%;
                right: auto;
                bottom: auto;
                left: 100%;
                transform: translateY(-50%);
            } @else if ($direction == "right") {
                top: 50%;
                right: 100%;
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
            }
            @include tooltip-arrow($direction, null, $tooltip-background-color);
        }
        @each $name, $pair in $colors {
            $color: nth($pair, 1);
            &.o-color-#{$name} {
                .o-tooltip-content::before {
                    @include tooltip-arrow($direction, $name, $color)
                }
            }
        }
    }
}

// Base
.o-tooltip {
    @include tooltip("top");
    @include tooltip("right");
    @include tooltip("bottom");
    @include tooltip("left");
    position: relative;
    display: inline-flex;
    .o-tooltip-content {
        position: absolute;
        white-space: nowrap;
        @include variable('max-width', 'tooltip-content-max-width', $tooltip-content-max-width);
        @include variable('padding', 'tooltip-content-padding', $tooltip-content-padding);
        @include variable('border-radius', 'tooltip-content-radius-large', $tooltip-content-radius-large);
        @include variable('font-size', 'tooltip-content-font-size', $tooltip-content-font-size);
        @include variable('font-weight', 'tooltip-content-weight-normal', $tooltip-content-weight-normal);
        @include variable('box-shadow', 'tooltip-content-box-shadow', $tooltip-content-box-shadow);
        @include variable('z-index', 'tooltip-content-zindex', $tooltip-content-zindex);
        @include variable('background-color', 'tooltip-background-color', $tooltip-background-color);
        @include variable('color', 'tooltip-background-color', $tooltip-color);
    }
    .o-tooltip-content::before {
        position: absolute;
        content: "";
        pointer-events: none;
        @include variable('z-index', 'tooltip-content-zindex', $tooltip-content-zindex);
    }
    .o-tooltip-trigger {
        width: 100%;
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.o-color-#{$name} {
            .o-tooltip-content {
                @include variable('background', ('color-' + #{$name}), $color);
                @include variable('color', ('color-invert-' + #{$name}), $color-invert);
            }
        }
    }
    &.o-tooltip-always {
        .o-tooltip-content::before,
        .o-tooltip-content {
            opacity: 1;
            visibility: visible;
        }
    }
    &.o-tooltip-multiline {
        .o-tooltip-content {
            text-align: center;
            white-space: normal;
            @include variable('width', 'tooltip-content-multiline-width', $tooltip-content-multiline-width);
        }
    }
}
