/* @docs */
$upload-draggable-border: 1px dashed $grey-light !default;
$upload-draggable-border-radius: $base-border-radius !default;
$upload-draggable-disabled-opacity: $base-disabled-opacity !default;
$upload-draggable-padding: 0.25em !default;
/* @docs */

.o-upload {
    position: relative;
    display: inline-flex;
    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        outline: none;
        cursor: pointer;
        z-index: -1;
    }
    .o-upload-draggable {
        cursor: pointer;
        @include avariable('padding', 'upload-draggable-padding', $upload-draggable-padding);
        @include avariable('border', 'upload-draggable-border', $upload-draggable-border);
        @include avariable('border-radius', 'upload-draggable-border-radius', $upload-draggable-border-radius);
        &.o-upload-disabled {
            @include avariable('opacity', 'upload-draggable-disabled-opacity', $upload-draggable-disabled-opacity);
            cursor: not-allowed;
        }
        &:hover,
        &.o-upload-hovered {
            @each $name, $pair in $colors {
                $color: nth($pair, 1);
                &.o-color-#{$name} {
                    @include avariable('border-color', ('color-' + #{$name}), $color);
                    &:before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        @include avariable('background', ('color-' + #{$name}), $color);
                        opacity: 0.05;
                    }
                }
            }
        }
    }
    .o-upload-expanded {
        width: 100%;
    }
}
// temporary IE 11 hack !!!
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .o-upload {
        input[type=file] {
            z-index: auto;
        }
        .o-upload-draggable + input[type=file] {
            z-index: -1;
        }
    }
}
