
*, :after, :before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.o-noscroll {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.o-clipped {
    overflow: hidden;
}
