@use "sass:list";

// Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @return if($index,
        str-slice($string, 1, $index - 1) + $replace +
        str-replace(str-slice($string, $index +
        str-length($search)), $search, $replace),
        $string);
}

// Encode svg function by http://codepen.io/jakob-e/pen/doMoML
@function svg-encode($svg){
    // Chunk up string in order to avoid "stack level too deep" error
    $encoded:'';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg)/$slice);
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        // Encode
        $chunk: str-replace($chunk, '"', '\'');
        $chunk: str-replace($chunk, '%', '%25');
        $chunk: str-replace($chunk, '#', '%23');
        $chunk: str-replace($chunk, '{', '%7B');
        $chunk: str-replace($chunk, '}', '%7D');
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');

        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }
    @return "data:image/svg+xml,#{$encoded}";
}

@function checkmark($color) {
    $start: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1">';
    $content: '<path style="fill:#{$color}" d="M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z"></path>';
    $end: '</svg>';

    @return svg-encode("#{$start}#{$content}#{$end}");
}

@function indeterminate($color) {
    $start: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1">';
    $content: '<rect style="fill:#{$color}" width="0.7" height="0.2" x=".15" y=".4"></rect>';
    $end: '</svg>';

    @return svg-encode("#{$start}#{$content}#{$end}");
}

/// Appends a list of variables to $whitelist and return a new whitelist.
///
/// @param {...} $variables
///   Variables to whitelist
/// @return {list} new whitelist.
///
/// Example (in components/_radio.scss)
/// $whitelist: add-to-whitelist('radio-active-background-color','radio-focus-sibiling-box-shadow');
@function add-to-whitelist($variables...) {
    @return list.join($whitelist, $variables);
}

/// Checks if a variable is in $whitelist.
///
/// @param {string} $variable
///   Variable to check if present in whitelist
/// @return {boolean} true if $variable is in $whitelist, else false.
@function is-in-whitelist($variable) {
    @return list.index($whitelist, $variable) != null;
}

/// Returns a variable.
///
/// @param {string} $name
///   Variable name
/// @param {string} $value
///   Variable value
/// @param {string} $forceval
///   By default is `false`, if `true` it allows to bypass whitelist and set the value
/// @return {string} the variable or null if not in whitelist when $css-vars == false.
@function variable($name, $value, $forceval: false) {
    @if $css-vars == true {
        @return var(#{$variable-prefix}#{$name}, #{$value});
    } @else if $sass-vars == true {
        @return #{$value};
    } @else if is-in-whitelist($name) {
        @return #{$value};
    } @else if $forceval == true {
        @return #{$value};
    }
    @return null;
}

/// Returns a pair of `(key,value)` to pass to `evariable` function.
///
/// @param {string} $key
///   Key of the parameter
/// @param {string} $value
///   Value of the parameter
/// @return {list} list of two elements representing an `eparam` `(key, value)`.
@function eparam($key, $value) {
    @return $key, $value;
}

/// Assigns a specific expression to an attribute
///
/// @param {string} $attribute
///   The attribute we want to include
/// @param {string} $expression
///   The body of the function we want to write (e.g. `calc($width/$height)`)
/// @param {...} $parameters
///   List of `eparam` to apply to the function
@mixin evariable($attribute, $expression, $parameters...) {
    $is_valid: true;
    @each $parameter in $parameters {
        @if list.nth($parameter, 2) == null {
            $is_valid: false;
        }
        @if str-slice(list.nth($parameter, 1), 0, 1) != "$" {
            @error "Parameter #{list.nth($parameter, 1)} should start with $.";
        }
        $expression: str-replace($expression, list.nth($parameter, 1), list.nth($parameter, 2));
    }
    @if $is_valid {
        #{$attribute}: #{$expression};
    }
}

/// Assigns a specific variable to an attribute
///
/// @param {string} $attribute
///   The attribute we want to include
/// @param {string} $name
///   Variable name
/// @param {string} $value
///   Variable value
@mixin avariable($attribute, $name, $value) {
    $variable: variable($name, $value);
    @if $variable != null {
        #{$attribute}: $variable;
    }
}

@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
