// the theme classes come from the value props in themes.json

// Components Theme Style section

.theme-oruga {
    .theme-bulma,
    .theme-bootstrap {
        display: none;
    }
}

.theme-bulma {
    .theme-oruga,
    .theme-bootstrap {
        display: none;
    }
}

.theme-bootstrap {
    .theme-oruga,
    .theme-bulma {
        display: none;
    }
}

// Global theme overrides

.theme-bootstrap {
    a.VPButton,
    a.VPLink,
    a.outline-link,
    a.pager-link {
        text-decoration: none;
    }

    .VPSidebarItem p {
        margin: 0;
    }

    .VPDocAside ul:not(.nested) {
        padding: 0;
    }

    .main a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.theme-bulma {
    .content-body {
        button,
        button:focus {
            border: 0;
            box-shadow: none;
            color: inherit;
        }
    }

    .VPDocAside ul {
        list-style: none;
        margin: 0;
    }

    .vp-code-group .tabs {
        margin-bottom: 0;
        display: block;
    }
}

// define gloval scroll classes
.o-scroll-clip,
.scroll-hidden {
    overflow: hidden;
}

.o-scroll-keep {
    position: fixed;
    overflow-y: scroll;
}
