// Vitepress overrides

:root {
    --vp-layout-max-width: 1550px;

    --vp-c-brand-1: var(--vp-c-green-1);
    --vp-c-brand-2: var(--vp-c-green-2);
    --vp-c-brand-3: var(--vp-c-green-3);

    --vp-code-block-color: var(--vp-c-white);
}

.VPNavBarTitle a {
    text-decoration: none;
}

.VPFlyout:hover .text {
    color: var(--vp-c-brand) !important;
}

.VPContent .VPDoc.has-aside .container .content-container {
    max-width: none;
}

@media (min-width: 960px) {
    .VPContent .VPDoc .container > .content {
        padding: 0px 0px 128px;
    }
}


.main {
    h1, h2, h3 {
        position: relative;
        margin: 0;
        line-height: 1.5em;
        font-weight: 600;
        letter-spacing: -.02em;
    }
    h1 {
        line-height: 2.5em;
        font-size: 2em;
    }
    h2 {
        margin: 3rem 0 1rem;
        line-height: 2em;
        font-size: 1.5em;
        border-top: 1px solid var(--vp-c-divider);
        padding-top: 1.5rem;
    }
    h3 {
        margin: 3rem 0 0;
        letter-spacing: -0.01em;
        line-height: 1.5em;
        font-size: 1.25em;
    }

    .header-anchor {
        float: left;
        margin-left: -0.87em;
        padding-right: 0.23em;
        font-weight: 500;
        opacity: 0;
        transition: color .25s,opacity .25s;
    }

    h1:hover .header-anchor, h1 .header-anchor:focus,
    h2:hover .header-anchor, h2 .header-anchor:focus {
        opacity: 1;
    }

        
    .header-anchor{
        color: var(--vp-c-brand);
        text-decoration: none;
        
        &:before {
            content: var(--vp-header-anchor-symbol);
        }
    }
}
